@model EnrollmentsViewModel
@{
    ViewData["ActivePage"] = ManageNavPages.Enrollment;
}

<!-- Modal -->
<partial name="_EnrollmentModal" model="Model" />

<h3 class="fw-bold display-6 mb-4 border-bottom border-3 border-dark text-center">Matrícula de estudiantes @Model.SelectedYear</h3>

<!-- Status message alert -->
<partial name="_StatusMessage" />

<h4 class="text-primary text-center fw-bold mb-2">Año</h4>

<div class="border border-2 border-gray rounded px-1 py-2 overflow-auto text-nowrap mb-4" style="direction: rtl">
    @for (var year = Model.CurrentYear + 1; year >= 2015; year--)
    {
        <a asp-route-year="@year" asp-route-grade="@Model.SelectedGrade.Id" class="btn btn-outline-primary rounded px-5 fw-bold @(year == Model.SelectedYear ? "active" : "")">
            @(year == Model.CurrentYear ? "(Actual)" : "") @year
        </a>
    }
</div>

<h4 class="text-primary text-center fw-bold mb-3">Grado</h4>

<div class="border border-2 border-gray rounded px-1 py-2 overflow-auto text-nowrap mb-5">
    @foreach(var grade in Model.GradesList)
    {
        <a asp-route-year="@Model.SelectedYear" asp-route-grade="@grade.Id" class="btn btn-outline-primary rounded px-5 fw-bold @(grade.Id == Model.SelectedGrade.Id ? "active" : "")">
            @grade.Name
        </a>
    }
</div>

<h4 class="text-dark fw-bold mb-4">@Model.SelectedGrade.Name - Sección "A"</h4>
<div class="d-flex justify-content-between">
    <button type="button" id="button-enroll-section-a" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-modal">
        <i class="las la-plus fs-4"></i> Matricular por NIE
    </button>
    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" id="form-remove-selected-students-a" class="delete-element-form">
        <input type="hidden" name="Year" value="@Model.SelectedYear">
        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
        <button id="button-remove-selected-students-a" class="btn btn-outline-danger border-2 mb-4">
            <i class="las la-minus fs-4"></i> Remover seleccionados
        </button>
    </form>
</div>

<div class="table-responsive mb-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col"></th>
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        @if (Model.StudentsListA.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="5">Actualmente no existen estudiantes matriculados.</td>
            </tr>
        }
        
            @foreach (var enrollment in Model.StudentsListA)
            {
                <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="StudentsId[]" value="@enrollment.StudentId" form="form-remove-selected-students-a" />
                        </div>
                    </th>
                    <th scope="row">@enrollment.StudentNie</th>
                    <td>@enrollment.StudentName</td>
                    <td>@enrollment.StudentSurname</td>
                    <td>
                        <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" method="post" id="btn-remove-student-a" class="delete-element-form">
                            <input type="hidden" name="StudentsId[]" value="@enrollment.StudentId">
                            <input type="hidden" name="Year" value="@Model.SelectedYear">
                            <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
                            <button class="bg-transparent border-0 p-0"><i class="las la-minus text-danger fs-4 border border-2 border-danger rounded"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4 class="text-dark fw-bold mb-4">@Model.SelectedGrade.Name - Sección "B"</h4>
<div class="d-flex justify-content-between">
    <button type="button" id="button-enroll-section-b" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-modal">
        <i class="las la-plus fs-4"></i> Matricular por NIE
    </button>
    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" id="form-remove-selected-students-b" class="delete-element-form">
        <input type="hidden" name="Year" value="@Model.SelectedYear">
        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
        <button id="button-remove-selected-students-b" class="btn btn-outline-danger border-2 mb-4">
            <i class="las la-minus fs-4"></i> Remover seleccionados
        </button>
    </form>
</div>


<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col"></th>
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        
        @if (Model.StudentsListB.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="5">Actualmente no existen estudiantes matriculados.</td>
            </tr>
        }

        @foreach (var enrollment in Model.StudentsListB)
        {
            <tr>
                <th>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="StudentsId[]" value="@enrollment.StudentId" form="form-remove-selected-students-b" />
                    </div>
                </th>
                <th scope="row">@enrollment.StudentNie</th>
                <td>@enrollment.StudentName</td>
                <td>@enrollment.StudentSurname</td>
                <td>
                    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" method="post" id="btn-remove-student-b" class="delete-element-form">
                        <input type="hidden" name="StudentsId[]" value="@enrollment.StudentId">
                        <input type="hidden" name="Year" value="@Model.SelectedYear">
                        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
                        <button class="bg-transparent border-0 p-0"><i class="las la-minus text-danger fs-4 border border-2 border-danger rounded"></i></button>
                    </form>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>

@section Scripts {
    <script>    
        const btnEnrollSectionA = document.getElementById('button-enroll-section-a');
        const btnEnrollSectionB = document.getElementById('button-enroll-section-b');
        const formCreate = document.getElementById('form-create');
        const modalSectionContent = document.getElementById('modal-section-content');

        btnEnrollSectionA.addEventListener('click', () => {
            clearInputs();
            formCreate.elements['SectionId'].value = "1";
            modalSectionContent.textContent = "Sección A";
        });
        
        btnEnrollSectionB.addEventListener('click', () => {
            clearInputs();
            formCreate.elements['SectionId'].value = "2";
            modalSectionContent.textContent = "Sección B";
        });
        
        formCreate.addEventListener('submit', (e) => {
            e.preventDefault();
    
            // if (validateForm()) {
                formCreate.submit();
            // }
        });
        
    </script>
}