@model EnrollmentsViewModel
@{
    ViewData["ActivePage"] = ManageNavPages.Enrollment;
    var indexSectionA = 1;
    var indexSectionB = 1;
}

<!-- Modal -->
<partial name="_PdfEnrollmentModal" model="Model" />
<partial name="_EnrollmentModal" model="Model" />

<h3 class="fw-bold display-6 mb-4 border-bottom border-3 border-dark text-center">Matrícula de estudiantes @Model.SelectedYear</h3>

<!-- Status message alert -->
<partial name="_StatusMessage" />

<h4 class="text-primary text-center fw-bold mb-2">Año</h4>

<div class="border border-2 border-gray rounded px-1 py-2 overflow-auto text-nowrap mb-4" style="direction: rtl">
    @for (var year = Model.CurrentYear; year >= 2015; year--)
    {
        <a asp-route-year="@year" asp-route-grade="@Model.SelectedGrade.Id" class="btn btn-outline-primary rounded px-5 fw-bold @(year == Model.SelectedYear ? "active" : "")">
            @(year == Model.CurrentYear ? "(Actual)" : "") @year
        </a>
    }
</div>

<h4 class="text-primary text-center fw-bold mb-3">Grado</h4>

<div class="border border-2 border-gray rounded px-1 py-2 overflow-auto text-nowrap mb-5">
    @foreach(var grade in Model.GradesList)
    {
        <a asp-route-year="@Model.SelectedYear" asp-route-grade="@grade.Id" class="btn btn-outline-primary rounded px-5 fw-bold @(grade.Id == Model.SelectedGrade.Id ? "active" : "")">
            @grade.Name
        </a>
    }
</div>

<h4 class="text-dark fw-bold mb-4">@Model.SelectedGrade.Name - Sección "A"</h4>
<div class="d-flex justify-content-between">
    <div>
        <button type="button" id="button-enroll-section-a" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-modal">
            <i class="las la-plus fs-4"></i>
        </button>
        <button type="button" id="button-enroll-section-a-by-pdf" class="btn btn-outline-warning mb-4" data-bs-toggle="modal" data-bs-target="#form-pdf-modal">
            <i class="las la-file-upload fs-4"></i>
        </button>
    </div>
    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" id="form-remove-selected-students-a" class="delete-element-form d-none">
        <input type="hidden" name="Year" value="@Model.SelectedYear">
        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
        <button id="button-remove-selected-students-a" class="btn btn-outline-danger mb-4">
            <i class="las la-minus fs-4"></i> Remover seleccionados
        </button>
    </form>
</div>

<div class="table-responsive mb-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col"><input type="checkbox" id="select-all-student-rows-a" class="form-check-input" data-bs-toggle="tooltip" data-bs-placement="top" title="Seleccionar a todos" /></th>
            <th scope="col">N°</th>
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody id="student-rows-a">

        @if (Model.StudentsListA.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="6">Actualmente no existen estudiantes matriculados.</td>
            </tr>
        }
        
            @foreach (var enrollment in Model.StudentsListA)
            {
                <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="StudentsId[]" value="@enrollment.StudentId" form="form-remove-selected-students-a" />
                        </div>
                    </th>
                    <th class="fw-normal">@(indexSectionA++)</th>
                    <th scope="row">@enrollment.StudentNie</th>
                    <td>@enrollment.StudentName</td>
                    <td>@enrollment.StudentSurname</td>
                    <td>
                        <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" method="post" id="btn-remove-student-a" class="delete-element-form">
                            <input type="hidden" name="StudentsId[]" value="@enrollment.StudentId">
                            <input type="hidden" name="Year" value="@Model.SelectedYear">
                            <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
                            <button class="bg-transparent border-0 p-0"><i class="las la-minus text-danger fs-4 border border-2 border-danger rounded"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4 class="text-dark fw-bold mb-4">@Model.SelectedGrade.Name - Sección "B"</h4>
<div class="d-flex justify-content-between">
    <div>
        <button type="button" id="button-enroll-section-b" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-modal">
            <i class="las la-plus fs-4"></i>
        </button>
        <button type="button" id="button-enroll-section-b-by-pdf" class="btn btn-outline-warning mb-4" data-bs-toggle="modal" data-bs-target="#form-pdf-modal">
            <i class="las la-file-upload fs-4"></i>
        </button>
    </div>
    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" id="form-remove-selected-students-b" class="delete-element-form d-none">
        <input type="hidden" name="Year" value="@Model.SelectedYear">
        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
        <button id="button-remove-selected-students-b" class="btn btn-outline-danger mb-4">
            <i class="las la-minus fs-4"></i> Remover seleccionados
        </button>
    </form>
</div>


<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col"><input type="checkbox" id="select-all-student-rows-b" class="form-check-input" data-bs-toggle="tooltip" data-bs-placement="top" title="Seleccionar a todos" /></th>
            <th scope="col">N°</th>
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody id="student-rows-b">
        
        @if (Model.StudentsListB.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="6">Actualmente no existen estudiantes matriculados.</td>
            </tr>
        }

        @foreach (var enrollment in Model.StudentsListB)
        {
            <tr>
                <th>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="StudentsId[]" value="@enrollment.StudentId" form="form-remove-selected-students-b" />
                    </div>
                </th>
                <th class="fw-normal">@(indexSectionB++)</th>
                <th scope="row">@enrollment.StudentNie</th>
                <td>@enrollment.StudentName</td>
                <td>@enrollment.StudentSurname</td>
                <td>
                    <form asp-controller="Enrollment" asp-action="RemoveEnrolledStudent" method="post" id="btn-remove-student-b" class="delete-element-form">
                        <input type="hidden" name="StudentsId[]" value="@enrollment.StudentId">
                        <input type="hidden" name="Year" value="@Model.SelectedYear">
                        <input type="hidden" name="GradeId" value="@Model.SelectedGrade.Id">
                        <button class="bg-transparent border-0 p-0"><i class="las la-minus text-danger fs-4 border border-2 border-danger rounded"></i></button>
                    </form>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>

@section Scripts {
    <script>    
        const btnEnrollSectionA = document.getElementById('button-enroll-section-a');
        const btnEnrollSectionAByPdf = document.getElementById('button-enroll-section-a-by-pdf');
        const btnEnrollSectionB = document.getElementById('button-enroll-section-b');
        const btnEnrollSectionBByPdf = document.getElementById('button-enroll-section-b-by-pdf');
        const formCreate = document.getElementById('form-create');
        const formPdfCreate = document.getElementById('form-pdf-create');
        const modalSectionContent = document.getElementById('modal-section-content');
        const modalPdfSectionContent = document.getElementById('modal-pdf-section-content');
        
        const selectAllStudentsRowsA = document.getElementById('select-all-student-rows-a');
        const studentRowsACheckboxes = document.querySelectorAll('#student-rows-a input[type="checkbox"]');
        const formRemoveSelectedStudentsA = document.getElementById('form-remove-selected-students-a');
        const selectAllStudentsRowsB = document.getElementById('select-all-student-rows-b');
        const studentRowsBCheckboxes = document.querySelectorAll('#student-rows-b input[type="checkbox"]');
        const formRemoveSelectedStudentsB = document.getElementById('form-remove-selected-students-b');
        
        const checkSelectedStudents = (studentCheckboxes, formRemoveSelectedStudents) => {
            let studentCheckboxesArray = Array.from(studentCheckboxes);
            let selectedStudents = studentCheckboxesArray.filter(checkbox => checkbox.checked).length;
            
            if (selectedStudents > 0) {
                formRemoveSelectedStudents.classList.add('d-block');
                formRemoveSelectedStudents.classList.remove('d-none');
                return;
            }
            
            formRemoveSelectedStudents.classList.add('d-none');
            formRemoveSelectedStudents.classList.remove('d-block');
        };
        
        selectAllStudentsRowsA.addEventListener('change', () => {
            let currentState = selectAllStudentsRowsA.checked;
            studentRowsACheckboxes.forEach(checkbox => checkbox.checked = currentState);
            checkSelectedStudents(studentRowsACheckboxes, formRemoveSelectedStudentsA);
        });
        
        selectAllStudentsRowsB.addEventListener('change', () => {
            let currentState = selectAllStudentsRowsB.checked;
            studentRowsBCheckboxes.forEach(checkbox => checkbox.checked = currentState);
            checkSelectedStudents(studentRowsBCheckboxes, formRemoveSelectedStudentsB);
        });
        
        studentRowsACheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => 
                checkSelectedStudents(studentRowsACheckboxes, formRemoveSelectedStudentsA));
        });
        
        studentRowsBCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => 
                checkSelectedStudents(studentRowsBCheckboxes, formRemoveSelectedStudentsB));
        });

        btnEnrollSectionA.addEventListener('click', () => {
            clearInputs();
            formCreate.elements['SectionId'].value = "1";
            modalSectionContent.textContent = "Sección A";
        });
        
        btnEnrollSectionB.addEventListener('click', () => {
            clearInputs();
            formCreate.elements['SectionId'].value = "2";
            modalSectionContent.textContent = "Sección B";
        });
        
        btnEnrollSectionAByPdf.addEventListener('click', () => {
            clearInputs();
            formPdfCreate.elements['SectionId'].value = "1";
            modalPdfSectionContent.textContent = "Sección A";
        });
        
        btnEnrollSectionBByPdf.addEventListener('click', () => {
            clearInputs();
            formPdfCreate.elements['SectionId'].value = "2";
            modalPdfSectionContent.textContent = "Sección B";
        });
        
        formCreate.addEventListener('submit', (e) => {
            e.preventDefault();
    
            // if (validateForm()) {
                formCreate.submit();
            // }
        });
        
    </script>
}