@model EnrollmentViewModel
@{
    ViewData["ActivePage"] = ManageNavPages.Enrollment;
}

<!-- Modal -->
@* <partial name="_ManagersListModal" model="Model.ManagerForm" /> *@

<h3 class="fw-bold display-6 mb-4 border-bottom border-3 border-dark text-center">Matrícula de estudiantes</h3>

<!-- Status message alert -->
<partial name="_StatusMessage" />

<h4 class="text-primary text-center fw-bold mb-2">Año</h4>

<div class="border border-2 border-gray rounded px-1 py-2 overflow-auto text-nowrap mb-4" style="direction: rtl">
    @for (var year = Model.CurrentYear + 1; year >= 2015; year--)
    {
        <a asp-route-year="@year" class="btn btn-outline-primary rounded px-5 fw-bold @(year == Model.SelectedYear ? "active" : "")">
            @(year == Model.CurrentYear ? "(Actual)" : "") @year
        </a>
    }
</div>

<h4 class="text-primary text-center fw-bold mb-3">Grado</h4>

<form asp-controller="Enrollment" asp-action="Index" method="post" class="border border-2 border-gray rounded px-1 py-2 mx-auto mb-5">
    <input type="hidden" asp-for="EnrollmentForm.Year" value="@Model.CurrentYear"/>
    
    <div class="form-group">
        <div class="input-group">
            <select asp-for="EnrollmentForm.Grade" class="form-select">
                <option value="1">Prueba</option>
                @foreach (var grade in Model.GradesList)
                {
                    <option value="@grade.Id">@grade.Name</option>
                }
            </select>
            <button class="btn btn-secondary"><i class="las la-search"></i> Buscar</button>
        </div>
    </div>
</form>

<h4 class="text-dark fw-bold mb-3">Primer Grado - Sección "A"</h4>

<div class="table-responsive mb-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
            <td class="text-center" colspan="4">Actualmente no existen estudiantes agregados.</td>
        </tr>

        @* @if (Model.ManagersList.Count == 0) *@
        @* { *@
        @*     <tr> *@
        @*         <td class="text-center" colspan="5">Actualmente no existen directivos agregados.</td> *@
        @*     </tr> *@
        @* } *@

        @* @foreach (var manager in Model.ManagersList) *@
        @* { *@
        @*     <tr> *@
        @*         <th scope="row">@manager.Id</th> *@
        @*         <td>@manager.Name</td> *@
        @*         <td>@manager.Surname</td> *@
        @*         <td>@manager.Role</td> *@
        @*         <td>@(manager.Gender.ToUpper() == "M" ? "Masculino" : "Femenino")</td> *@
        @*         <td> *@
        @*             <div class="d-flex"> *@
        @*                 <button class="button-edit bg-transparent border-0 p-0" data-bs-toggle="modal" data-bs-target="#form-modal"> *@
        @*                     <i class="las la-pen text-primary fs-3 px-1"></i> *@
        @*                 </button> *@
        @*                 <form asp-controller="Managers" asp-action="Delete" method="post" class="delete-element-form"> *@
        @*                     <input type="hidden" value="@manager.Id" name="id"/> *@
        @*                     <button class="bg-transparent border-0 p-0"><i class="las la-trash text-danger fs-3 px-1"></i></button> *@
        @*                 </form> *@
        @*             </div> *@
        @*         </td> *@
        @*     </tr> *@
        @* } *@
        </tbody>
    </table>
</div>

<h4 class="text-dark fw-bold mb-3">Primer Grado - Sección "B"</h4>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" colspan="4">Actualmente no existen estudiantes agregados.</td>
        </tr>
        </tbody>
    </table>
</div>