@model StudentsListViewModel
@{
    ViewData["ActivePage"] = ManageNavPages.StudentsList;
    var position = 1;
}

<!-- Modal -->
<partial name="_StudentsListModal" model="Model.StudentForm" />

<!-- Modal -->
<partial name="_WebcamModal" />

<h3 class="fw-bold display-6 mb-4 border-bottom border-3 border-dark text-center">Listado de estudiantes</h3>

<!-- Status message alert -->
<partial name="_StatusMessage" />

<button type="button" id="button-create" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-modal">
    <i class="las la-plus fs-4"></i> Agregar estudiante
</button>

<nav class="d-flex justify-content-center mb-3" aria-label="pagination-menu">
    <ul class="pagination">
        <li class="page-item @(Model.Pagination.IsFirstPage ? "disabled" : "")">
            <a asp-controller="Students" asp-action="Index" asp-route-page="1" class="page-link">Primera</a>
        </li>
        <li class="page-item @(Model.Pagination.IsFirstPage ? "disabled" : "")">
            <a asp-controller="Students" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage - 1)" class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        
        @for (var index = Model.Pagination.CurrentPage - 2; index <= Model.Pagination.CurrentPage + 2; index++)
        {
            @if (index > Model.Pagination.NumberOfPages || index < 1) continue;
            
            @if (index == Model.Pagination.CurrentPage)
            {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">@index</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-controller="Students" asp-action="Index" asp-route-page="@index" class="page-link">@index</a>
                </li>
            }
        }
        
        <li class="page-item @(Model.Pagination.IsLastPage ? "disabled" : "")">
            <a asp-controller="Students" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage + 1)" class="page-link">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item @(Model.Pagination.IsLastPage ? "disabled" : "")">
            <a asp-controller="Students" asp-action="Index" asp-route-page="@Model.Pagination.NumberOfPages" class="page-link">Última</a>
        </li>
    </ul>
</nav>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">N°</th>
            <th scope="col">NIE</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">¿Tiene foto?</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        @if (Model.StudentsList.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="6">Actualmente no existen estudiantes agregados.</td>
            </tr>
        }

        @foreach (var student in Model.StudentsList)
        {
            <tr>
                <th class="fw-normal">@(position++)</th>
                <th scope="row">@student.Nie</th>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td class="fw-bold">
                    @if (string.IsNullOrEmpty(student.PhotoId))
                    {
                        <span class='text-danger'>No</span>
                    }
                    else
                    {
                        <span class='text-success'>Si</span>
                    }
                </td>
                <td>
                    <div class="d-flex">
                        <button class="button-edit bg-transparent border-0 p-0" data-bs-toggle="modal" data-bs-target="#form-modal">
                            <i class="las la-pen text-primary fs-3 px-1"></i>
                        </button>
                        <form asp-controller="Students" asp-action="Delete" method="post" class="delete-element-form">
                            <input type="hidden" value="@student.Id" name="id"/>
                            <button class="bg-transparent border-0 p-0"><i class="las la-trash text-danger fs-3 px-1"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/webcam-easy/webcam-easy.min.js"></script>
    <script type="text/javascript" src="~/js/webcam-easy-config.js"></script>
    <script>
        const baseUrl = window.location.origin;
    
        const btnCreate = document.getElementById('button-create');
        const btnEdit = document.querySelectorAll('.button-edit');
        const formCreate = document.getElementById('form-create');
        const modalLabel = document.getElementById('form-modal-label');
        
        const btnSavePhoto = document.getElementById('save-photo');
        const photoPreview = document.getElementById('photo-preview');
        const inputPhotoFile = formCreate.elements['PhotoFile'];
        
        const getStudentInfo = (e) => {
            const studentRow = e.currentTarget.closest('tr').children;
            const nie = studentRow[1].outerText;
            const url = `${baseUrl}/Students/GetByNie?nie=${nie}`;
            
            fetch(url)
                .then(data => data.json())
                .then(res => {
                    modalLabel.innerHTML = `<i class="las la-pen fs-4"></i> Editar estudiante`;
                    formCreate.action = "/Students/Update";
                    formCreate.elements['Id'].value = res.id;
                    formCreate.elements['Nie'].value = res.nie;
                    formCreate.elements['Name'].value = res.name;
                    formCreate.elements['Surname'].value = res.surname;
                    formCreate.elements['Birthdate'].value = res.birthdate == null ? "" : res.birthdate.split('T')[0];
                    formCreate.elements['Address'].value = res.address;
                    formCreate.elements['Photo'].value = res.photoId;
                    photoPreview.src = res.photoId != null ? res.photoId : "/img/unknown.png";
                });
        }
        
        const convertToBase64 = (file) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            
            reader.onload = function () {
                formCreate.elements['Photo'].value = reader.result;
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
        
        btnSavePhoto.addEventListener('click', () => {
            photoPreview.src = studentPhoto.src;
            formCreate.elements['Photo'].value = studentPhoto.src;
            formCreate.elements['PhotoFile'].value = "";
            btnChangeWebcamStatus.click();
        });
        
        inputPhotoFile.addEventListener('change', () => {
            const [file] = inputPhotoFile.files
            if (file) {
                photoPreview.src = URL.createObjectURL(file);
                convertToBase64(file);
            }
        });

        btnCreate.addEventListener('click', () => {
            clearInputs();
            
            photoPreview.src = '/img/unknown.png';
            formCreate.action = '/Students/Create';
            modalLabel.innerHTML = `<i class="las la-plus-circle fs-4"></i> Crear estudiante`;
        });

        btnEdit.forEach((btn) => {
            btn.addEventListener('click', (e) => getStudentInfo(e));
        });
        
        formCreate.addEventListener('submit', (e) => {
            e.preventDefault();
    
            // if (validateForm()) {
                formCreate.submit();
            // }
        });
        
    </script>
}