<ul class="nav nav-pills flex-column">
    <li class="nav-item mb-5"><a class="nav-link @ManageNavPages.HomeNavClass(ViewContext)" id="suggestionsApproval" asp-controller="" asp-action=""><i class="las la-check fs-4"></i> Inicio</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RejectedSuggestionsNavClass(ViewContext)" id="index" asp-controller="" asp-action=""><i class="las la-times fs-4"></i> Sugerencias rechazadas</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CategoriesListNavClass(ViewContext)" id="categoriesList" asp-controller="" asp-action=""><i class="las la-tag fs-4"></i> Categorías</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.StatesListNavClass(ViewContext)" id="statesList" asp-controller="" asp-action=""><i class="las la-flag fs-4"></i> Estados</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersListNavClass(ViewContext)" id="usersList" asp-controller="" asp-action=""><i class="las la-user fs-4"></i> Usuarios</a></li>
</ul>