<ul class="nav nav-pills flex-column">
    <li class="nav-item mb-4"><a class="nav-link @ManageNavPages.HomeNavClass(ViewContext)" id="indexPage" asp-controller="Home" asp-action="Index"><i class="las la-home fs-4"></i> Inicio</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EnrollmentNavClass(ViewContext)" id="enrollment" asp-controller="" asp-action=""><i class="las la-school fs-4"></i> Matrícula</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.StudentsListNavClass(ViewContext)" id="studentsList" asp-controller="Students" asp-action="Index"><i class="las la-user-graduate fs-4"></i> Estudiantes</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ManagersListNavClass(ViewContext)" id="managersList" asp-controller="Managers" asp-action="Index"><i class="las la-user-lock fs-4"></i> Directivos</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersListNavClass(ViewContext)" id="usersList" asp-controller="" asp-action=""><i class="las la-user fs-4"></i> Usuarios</a></li>
</ul>