@model GradesCertificateViewModel

<form asp-controller="Certificates" asp-action="GradesCertificateBasic" method="post" target="_blank" class="border border-2 border-primary rounded px-1 py-2 overflow-hidden text-nowrap mb-4">
    <input type="hidden" name="Nie" value="@Model.GradesCertificateInfo.Student.Nie" />
    <input type="hidden" name="Year" value="@Model.GradesCertificateInfo.Year" />
    <input type="hidden" name="GradeId" value="@Model.GradesCertificateInfo.Grade.Id" />
    <input type="hidden" name="Section" value="@Model.GradesCertificateInfo.Section.Name" />
    
    <div class="row p-2">
            <p class="col-form-label fw-bold">Notas de área básica:</p>
            
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label ">Lenguaje:</label>
                <input type="hidden" name="NamesBasics[]" value="Lenguaje y Literatura">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Matemática:</label>
                <input type="hidden" name="NamesBasics[]" value="Matemática">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Ciencias:</label>
                <input type="hidden" name="NamesBasics[]" value="Ciencias Naturales">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Sociales:</label>
                <input type="hidden" name="NamesBasics[]" value="Estudios Sociales y Cívica">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Idioma extranjero:</label>
                <input type="hidden" name="NamesBasics[]" value="Idioma Extranjero">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Informática:</label>
                <input type="hidden" name="NamesBasics[]" value="Informática">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
            <div class="col-6 col-md-3 form-group mb-3">
                <label class="col-form-label">Orientación para la vida:</label>
                <input type="hidden" name="NamesBasics[]" value="Orientación para la Vida">
                <input type="number" step="1" min="0" max="10" name="Basics[]" class="form-control input-create">
            </div>
        </div>
        
        <div class="row p-2">
            <p class="col-form-label fw-bold">Notas de área complementaria:</p>
            
            <div class="col-6 col-md-4 form-group mb-3">
                <label class="col-form-label">Religión:</label>
                <input type="hidden" name="NamesComplementary[]" value="Religión">
                <select name="Complementary[]" class="form-select input-create">
                    <option value="E">Excelente</option>
                    <option value="MB">Muy bueno</option>
                    <option value="B">Bueno</option>
                </select>
            </div>
            <div class="col-6 col-md-4 form-group mb-3">
                <label class="col-form-label">Moral:</label>
                <input type="hidden" name="NamesComplementary[]" value="Moral, Urbanidad y Cívica">
                <select name="Complementary[]" class="form-select input-create">
                    <option value="E">Excelente</option>
                    <option value="MB">Muy bueno</option>
                    <option value="B">Bueno</option>
                </select>
            </div>
            <div class="col-6 col-md-4 form-group mb-3">
                <label class="col-form-label">Conducta:</label>
                <input type="hidden" name="NamesComplementary[]" value="Conducta">
                <select name="Complementary[]" class="form-select input-create">
                    <option value="E">Excelente</option>
                    <option value="MB">Muy bueno</option>
                    <option value="B">Bueno</option>
                </select>
            </div>
            <div class="col-6 col-md-4 form-group mb-3">
                <label class="col-form-label">Seminarios:</label>
                <input type="hidden" name="NamesComplementary[]" value="Seminarios">
                <select name="Complementary[]" class="form-select input-create">
                    <option value="E">Excelente</option>
                    <option value="MB">Muy bueno</option>
                    <option value="B">Bueno</option>
                </select>
            </div>
            <div class="col-6 col-md-4 form-group has-danger mb-3">
                <label class="col-form-label">Curso de Hab. Laboral:</label>
                <input type="hidden" name="NamesComplementary[]" value="Curso de Habilitación Laboral">
                <select name="Complementary[]" class="form-select input-create">
                    <option value="E">Excelente</option>
                    <option value="MB">Muy bueno</option>
                    <option value="B">Bueno</option>
                </select>
            </div>
        </div>
    
    <div class="row p-2">
        <p class="col-form-label fw-bold">Notas de competencias ciudadanas:</p>
            
        <div class="col-6 col-md-4 form-group mb-3">
            <label class="col-form-label">Actitud:</label>
            <input type="hidden" name="NamesCompetencies[]" value="Evidencia actitudes favorables para la convivencia y cultura de paz">
            <select name="Competencies[]" class="form-select input-create">
                <option value="E">Excelente</option>
                <option value="MB">Muy bueno</option>
                <option value="B">Bueno</option>
            </select>
        </div>
        <div class="col-6 col-md-4 form-group mb-3">
            <label class="col-form-label">Diversidad:</label>
            <input type="hidden" name="NamesCompetencies[]" value="Acepta y valora la diversidad">
            <select name="Competencies[]" class="form-select input-create">
                <option value="E">Excelente</option>
                <option value="MB">Muy bueno</option>
                <option value="B">Bueno</option>
            </select>
        </div>
        <div class="col-6 col-md-4 form-group has-danger mb-3">
            <label class="col-form-label">Autonomía:</label>
            <input type="hidden" name="NamesCompetencies[]" value="Toma decisiones de forma autónoma y responsable">
            <select name="Competencies[]" class="form-select input-create">
                <option value="E">Excelente</option>
                <option value="MB">Muy bueno</option>
                <option value="B">Bueno</option>
            </select>
        </div>
        <div class="col-6 col-md-4 form-group has-danger mb-3">
            <label class="col-form-label">Respeto:</label>
            <input type="hidden" name="NamesCompetencies[]" value="Se expresa y participa con respeto">
            <select name="Competencies[]" class="form-select input-create">
                <option value="E">Excelente</option>
                <option value="MB">Muy bueno</option>
                <option value="B">Bueno</option>
            </select>
        </div>
        <div class="col-6 col-md-4 form-group has-danger mb-3">
            <label class="col-form-label">Cultura:</label>
            <input type="hidden" name="NamesCompetencies[]" value="Muestra sentido de pertenencia y respeto por nuestra cultura">
            <select name="Competencies[]" class="form-select input-create">
                <option value="E">Excelente</option>
                <option value="MB">Muy bueno</option>
                <option value="B">Bueno</option>
            </select>
        </div>
    </div>
    
    <div class="form-group has-danger p-2 mb-3">
        <label class="col-form-label fw-bold" for="input-manager">Directivo que firmará:</label>
        <select name="ManagerId" id="input-manager" class="form-select input-create">
            @foreach (var manager in Model.ManagersList)
            {
                <option value="@manager.Id">@manager.Name @manager.Surname</option>
            }
        </select>
        <div id="feedback-manager" class="invalid-feedback"></div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success m-2"><i class="las la-folder-plus fs-4"></i> Crear constancia</button>
    </div>
</form>