@model GradesCertificateViewModel
@{
    ViewData["ActivePage"] = ManageNavPages.Certificates;
    ViewData["CertificateMenu"] = "GradesCertificate";
}

<partial name="_CertificatesMenu"/>

<form asp-controller="Certificates" asp-action="GradesCertificate" method="post" class="border border-2 border-primary rounded px-1 py-2 overflow-auto text-nowrap mb-4">
    <!-- Status message alert -->
    <partial name="_StatusMessage" />
    
    <div class="form-group has-danger p-2 mb-3">
        <label class="col-form-label fw-bold" for="input-nie">NIE:</label>
        <input type="number" name="Nie" id="input-nie" class="form-control input-create" value="@Model.GradesCertificateInfo?.Student.Nie">
        <div id="feedback-nie" class="invalid-feedback"></div>
    </div>

    <div class="form-group has-danger p-2 mb-3">
        <label class="col-form-label fw-bold" for="input-year">Año de estudio:</label>
        <input type="number" name="Year" id="input-year" class="form-control input-create" value="@Model.CurrentYear">
        <div id="feedback-year" class="invalid-feedback"></div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary m-2"><i class="las la-search fs-4"></i> Buscar estudiante</button>
    </div>
</form>

@if (Model.GradesCertificateInfo is not null)
{
    <section class="border border-2 border-primary rounded p-2 mb-4">
        <h5 class="text-primary fw-bold mb-4">Información del estudiante</h5>

        <p class="col-form-label fw-bold">NIE: <span class="text-primary">@Model.GradesCertificateInfo?.Student.Nie</span></p>
        <p class="col-form-label fw-bold">Nombre completo: <span class="text-primary">@Model.GradesCertificateInfo?.Student.Name @Model.GradesCertificateInfo?.Student.Surname</span></p>
        <p class="col-form-label fw-bold">Año de estudio: <span class="text-primary">@Model.GradesCertificateInfo?.Year</span></p>
        <p class="col-form-label fw-bold">Grado: <span class="text-primary">@Model.GradesCertificateInfo?.Grade.Name</span></p>
        <p class="col-form-label fw-bold">Sección: <span class="text-primary">@Model.GradesCertificateInfo?.Section.Name</span></p>
    </section>
}


@if (Model.GradesCertificateType == 1)
{
    <partial name="_GradesCertificateBasic" model="Model" />
}
else if (Model.GradesCertificateType == 2)
{
    <partial name="_GradesCertificateHighSchool" model="Model" />
}